
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;

}

.calculator4{
 flex: 0 0 40%;
}
.screen4{
 width: 100%;
 font-size: 3rem;
 padding: 0.5rem;
 background: rgb(41,41,56);
 color: white;
 border:none;
}

.buttons4{
 display: flex;
 flex-wrap: wrap;
 transition: all 0.5s linear;
}

button{
 flex:0 0 25%;
 border: 1px solid black;
 padding: 0.25rem 0;
 transition: all 2s ease;
}

.btn-grey{
 background: rgb(224,224,224);
}

.btn4{
 font-size: 4rem;
}

.memory-list {
  display: none;
  position: absolute;
  left: 31px;
  top: 18px;
  min-width: 42px;
  border: 1px solid #226073;
  padding: 5px 0;
  margin: 0;
  list-style-type: none;
  background-color: #448096;
  color: #fff;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.8);
}

.memory-list li {
  padding: 3px 10px;
  text-align: left;
}

.memory-list li:hover {
  background-color: #226073;
}
